# ignore editor files
Session.vim

# ignore haskell build files
*.o
*.hi

# binaries
haskell/ub0/max3
haskell/ub1/Arithmetik
haskell/ub1/Sort
haskell/ub2/Polynom
haskell/ub3/Fibs
haskell/ub3/Collatz
haskell/exams/ss18/a1
haskell/exams/ws17_18/a1
haskell/exams/ws17_18/a2
haskell/exams/ws18_19/a1
haskell/exams/ws18_19/a2
